<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <div class="container">
        <h1>📝 블로그</h1>

        <ul>
            <li><a href="https://blog.naver.com/pwjddus5/224223677128">내 방학 블로그 보러가기</a></li>
            <li><a href="https://blog.naver.com/pwjddus5/224223677128">내 21살 블로그 보러가기</a></li>
        </ul>

        <br>
        <a href="/">🏠 홈으로</a>
    </div>

</body>
</html>