body {
    background-color: #fff9c4; 
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
}

.container {
    margin-top: 60px;
}

h1 {
    color: #fbc02d; 
}

.menu a {
    display: inline-block;
    margin: 10px;
    padding: 12px 20px;
    background-color: #fff176;
    text-decoration: none;
    border-radius: 12px;
    color: #333;
    font-weight: bold;
    transition: 0.3s;
}

.menu a:hover {
    background-color: #fdd835;
    color: black;
}

a {
    text-decoration: none;
    color: #f57f17;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 10px;
    font-size: 18px;
}

.card {
    background-color: #fffde7;
    padding: 20px;
    margin: 20px auto;
    width: 60%;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}
